.m-back-button-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border-radius: 3px;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f0f0f0;
}

.m-middle-chat {
  background-color: rgb(255, 255, 255);
  height: 500px;
  border-radius: 3px;
}
