.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .chat-content {
    flex-grow: 1;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    padding: calc(1rem - 5px) 1rem;
    display: flex;
    flex-direction: column-reverse;

    .chat-msg {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;

      .chat-photo {
        background: var(--pi-lg);
        margin: auto;
        flex-shrink: 0;
        margin-right: 0.5rem;
        margin-top: 0px;
      }

      .chat-right {
        position: relative;
        top: 5px;
        flex: 1 1 auto;
        .chat-name {
          color: rgba(0, 0, 0, 0.5);
          margin-right: 0.5rem;
        }
      }
    }
  }

  .chat-bottom {
    flex-grow: 0;
  }
}

.e {
  fill: var(--blue);
  &:hover {
    cursor: pointer;
  }
}
