.m-chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .m-chat-content {
    flex-grow: 1;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;

    .m-chat-msg {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      .m-chat-photo {
        background: linear-gradient(90deg, #afd2ff 0%, #ddd7ff 69%);
        margin: auto;
      }

      .m-chat-name {
        color: rgba(0, 0, 0, 0.5);
        margin: auto 0.5rem;
      }
    }
  }

  .m-chat-bottom {
    flex-grow: 0;
  }
}

.m-e {
  fill: #1890ff;
  &:hover {
    cursor: pointer;
  }
  &:active {
    fill: #0084ff;
  }
}
