.ant-list-item-meta-title {
  font-weight: normal;
  font-size: 0.98rem;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    transform-origin: 0 0;
    transform: scale(1.005);
    transition: transform 500ms ease-in-out;
    text-decoration: underline;
  }
}

.ant-tag {
  font-size: 12.5px;
}

.square {
  height: 8px;
  width: 8px;
  background-color: #d0e8ff;
  position: relative;
  bottom: 1.8px;
  margin-right: 0.5rem;
}
