.list-content {
  background-color: white;
  max-width: 61.8%;
  padding: 1.5rem;
  // margin: 1%;

  .location-and-post {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
}
