.ant-cascader-menu {
  height: fit-content !important;
}

.ant-cascader-picker {
  font-size: 16px !important;
}

.ant-cascader-menus {
  font-size: 16px !important;
}

.ant-upload-list-item-info {
  width: 100%;
}

.post-form {
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 55% 10% 35%;
  padding: 2rem 4rem;

  .form-left {

    .selections {
      margin: 1rem auto;
    }

    .title {
      margin: 1rem auto;
    }

    .description {
      margin: 1rem auto;
    }
  }

  .form-right {
    display: flex;
    flex-direction: column;
  }
}

.m-post-form {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .m-form-text {

    .m-selection {
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
    }

    .m-title {
      margin: 1rem auto;
    }

    .m-description {
      margin: 1rem auto;
    }
  }

  .m-form-images {
    display: flex;
    flex-direction: column;
  }
}