.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

.content {
  max-width: 72%;

  .radio-and-location-button {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 1.5%;
    margin-bottom: 0.5%;
    padding: 1.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .menu-and-post-button{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 1.5%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    padding: 1.5rem;
    padding-left: 0.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .post-list {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    padding-bottom: 0.3rem;
    margin: 1.5%;
    margin-top: 0.5%;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
  }

}

