.post-detail {
  display: grid;
  grid-template-columns: 45% 10% 45%;

  .detail-left {
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    .detail-left-bottom {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
    }
  }
}
