.post-detail {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  padding: 1rem 2rem;
  margin-bottom: 10rem;
  font-weight: bold;

  .detail-left {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2;

    .desc {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .desc-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--blue);
        margin-bottom: 2rem;
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      .num {
        font-size: 1.5rem;
        color: #ff8718;
      }
    }
  }
}

.m-post-detail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  margin-bottom: 10rem;
  font-weight: bold;

  .m-detail-text {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    line-height: 2;

    .m-desc {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .m-desc-title {
        font-size: 1.2rem;
        font-weight: bolder;
        color: var(--blue);
        margin-bottom: 2rem;
      }
    }

    .m-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .m-num {
        font-size: 1.5rem;
        color: #ff8718;
      }
    }
  }
}
