.back-arrow {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.post-detail {
  display: grid;
  grid-template-columns: 50% 5% 45%;
  padding: 1rem 2rem;

  .detail-left {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2;

    .desc {
      display: flex;
      flex-direction: column;

      .desc-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      .num {
        font-size: 1.5rem;
        color: #1890ff;
      }
    }
  }

  .detail-right {
    .image-holder {
      width: 50%;
      height: 188px;

      &:hover {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  }
}

.m-back-arrow {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.m-post-detail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

  .m-detail-text {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2;

    .m-desc {
      display: flex;
      flex-direction: column;

      .m-desc-title {
        font-size: 1.2rem;
        font-weight: bolder;
      }
    }

    .m-info {
      display: flex;
      flex-direction: column;

      .m-num {
        font-size: 1.5rem;
        color: #1890ff;
      }
    }
  }
}

.m-images {
  margin-bottom: 2rem;
}
