.ant-modal-title {
  font-weight: bolder !important;
}

.ant-drawer-title {
  font-weight: bolder !important;
}

.ant-modal-header {
  padding: 10px 16px;
}

.ant-tag {
  font-size: 13px;
  padding: auto;
}
