.top-bar {
  background-color: #37475a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-location {
    margin: 0.3rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .location {
      text-decoration: none;
      margin-left: 1.5rem;
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .account {
    position: relative;
    margin: 0.3rem 1rem;
    top: 0.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
