.top-bar {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #f0f0f0;

  .title-location {
    margin: 0.6rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: 1.5rem;
      color: #002766;

      &:hover {
        cursor: pointer;
        color: #1890ff;
      }
    }

    .location {
      text-decoration: none;
      margin-left: 1.5rem;
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
        color: #1890ff;
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 0.6rem 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
