.account-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    flex-grow: 0;
  }

  .middle {
    flex-grow: 1;
  }

  .bottom {
    flex-grow: 0;

    .signout-button {
      float: right;
    }
  }
}
