.account-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .acc-top {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .acc-middle {
    flex-grow: 1;
  }

  .acc-bottom {
    flex-grow: 0;

    .signout-button {
      float: right;
    }
  }
}
