.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px;
    color: #fff;
    text-align: center;
    background: #364d79;
    margin-bottom: 0em;
}