.m-post-list {
  .ant-list-item-meta-title {
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    margin-bottom: 1rem;

    .m-post-title {
      font-size: 1rem;
      font-weight: normal;

      &:hover {
        cursor: pointer;
        color: var(--blue);
      }
    }
  }
}

.m-tags {
  display: flex;
  justify-content: space-between;
}

.ant-tag {
  font-size: 12.5px;
}

.ant-modal-header {
  padding-right: 38px;
}

.ant-pagination {
  padding: 0.8rem;
}

.m-square {
  height: 8px;
  width: 3px;
  background-color: var(--blue);
  position: relative;
  bottom: 1.8px;
  margin-right: 0.5rem;
  border-radius: 2px;
}

.m-page-dim {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 168;
}
